.movie-from {
    display: flex;
    gap: 50px;
    padding: 50px;
    padding-bottom: 34px;
    background-color: #f6f6f6;
    border-radius: 6px;
    margin-bottom: 30px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 30px;
}

.movie-from input {
    background-color: #fff !important;
    height: 40px;
}

.movie-from > div {
    width: 50%;
    height: 100%;
}