.detail-content {
    background-color: #ffecd1;
}

.banner-wrapper {
    position: relative;
}

.banner-wrapper .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.banner {
    width: 850px;
    height: 450px;
}

.blur-left, .blur-right {
    position: absolute;
}

.blur-left img, .blur-right img {
    height: 450px;
}

.blur-left {
    transform: translateX(-140%);
}

.blur-right {
    transform: translateX(140%);
}

.movie-detail-content {
    width: 1250px;
    min-height: 100%;
    margin: 0 auto;
    color: #252422;
    display: grid;
    padding: 30px 0;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
}

.movie-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 5;
    gap: 24px;
    max-height: 550px;
}

.movie-detail > img {
    grid-column: span 1;
    width: 100%;
    margin-top: -80px;
    border: 2px solid #eee;
    z-index: 10;
}

.movie-detail .detail {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
    gap: 20px;
    grid-column: span 2;
}

.detail-title .classify {
    color: #cdc197;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 40px;
    border-radius: 6px;
    background-color: #252422;
}

.detail-section {
    display: flex;
    font-size: 1.2em;
    gap: 30px;
    align-items: center;
}

.datetime img {
    width: 16px;
    height: 16px;
}

.datetime .label {
    margin-left: 3px;
}

.detail-section .label {
    color: #777;
}

.detail-section .text {
    color: #252422;
}

.detail-schedule {
    grid-column: span 5;
    margin-top: -450px;
}

.detail-schedule .head .block {
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background-color: #f1683a;
}

.detail-schedule .head p {
    font-weight: bold;
    padding-left: 10px;
    line-height: 30px;
    font-size: 20px;
}

.detail-schedule .desc > p {
    text-align: justify;
    font-size: 1.3em;;
}

.detail-title p {
    font-size: 2.6em;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
}