.banner {
    width: 800px;
    height: 450px;
}

.blur-left, .blur-right {
    position: absolute;
}

.blur-left img, .blur-right img {
    height: 450px;
}

.blur-left {
    transform: translateX(-130%);
}

.blur-right {
    transform: translateX(130%);
}

.detail-wrapper .thumbnail-wrapper img {
    margin-top: -50px;
    border: 2px solid #eee;
    height: 400px;
}