.card {
    width: calc(1250px / 4);
}

.payment-wrapper {
    width: 100%;
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.payment-title {
    font-size: 1.6em;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 20px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    /* align-self: flex-start; */
}

.checkbox input {
    height: 16px;
    width: 16px;
}

.payment-method {
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ffc232;
    border-radius: 20px;
    line-height: 40px;
}

.payment-method > img {
    height: 20px;
    margin-bottom: 5px;
}

.fill {
    background-color: #ffc232;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: -20px;
}

.icons > img {
    height: 40px;
    object-fit: cover;
}