header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin:  0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: transparent !important;
    font-size: 1.5em;
}

header a {
    color: #cdc197;
}
