.room-table-wrapper {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.room-table-wrapper .table {
    font-size: 1.2em;
    min-width: 100% !important;
    text-wrap: nowrap;
}

.room-table-wrapper .table thead {
    position: sticky;
    top: 0;
    min-width: 100%;
    z-index: 2;
}

.room-table-wrapper .table tr {
    height: 50px !important;
    line-height: 50px;
}

.room-table-wrapper .table thead tr {
    height: 30px !important;
    line-height: 30px;
}

.room-table-wrapper .table tr {
    height: 30px !important;
    line-height: 30px;
}

.room-table-wrapper .table th,
.room-table-wrapper .table td {
    padding: 20px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-table-wrapper .edit,
.room-table-wrapper th:last-child {
    position: sticky;
    right: 0;
    top: 0;
    width: 120px;
    border-left: 1px solid #dee2e6;
}

.room-table-wrapper .edit .btns {
    display: flex;
    flex-direction: column;
}