.cinema-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

.form-section:last-child {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
}

.input-wrapper {
    display: flex;
    gap: 10px;
}

.input-wrapper label {
    white-space: nowrap;
    font-size: 1.3em;
    margin: 0;
    line-height: 40px;
    height: 40px;
}