/* Btn animation */
.btn-animation {
    margin: 0 auto;
    position: relative;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: none;
    border: 2px solid #cdc197;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.liquid {
    background: linear-gradient(#cdc197 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
        background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Ná»™i dung Modal */
.modal-content {
    position: relative;
    width: 80%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
