.list-movie-showing {
    grid-column: span 2;
    gap: 10px;
}

.list-movie-showing a {
    color: #252422;
}

.list-movie-showing .movie-wrapper {
    margin-bottom: 20px;
}

.list-movie-showing .movie-wrapper img {
    width: 100%;
}

.list-movie-showing .movie-wrapper .movie-title {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 8px;
}

.list-movie-showing .button {
    display: block;
    margin-left: auto;
    width: 150px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    color: #f1683a;
    justify-content: start;
    border: 1px #f1683a solid;
    border-radius: 4px;
}

.list-movie-showing a .buy-ticket {
    position: relative;
}

.list-movie-showing a .buy-ticket .button {
    border: none;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.5);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.list-movie-showing a .buy-ticket .btn {
    background-color: #f1683a;
    color: #fff;
    padding: 8px 20px;
    width: 120px;
}

.list-movie-showing a .buy-ticket .btn:hover {
    background-color: #fb9440;
}

.list-movie-showing a:hover .button {
    opacity: 1;
    visibility: visible;
}
