.schedule-wrapper {
    margin-top: 50px;
}

.shedule {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 2px #252422 solid;
    padding-bottom: 20px;
}

.shedule .list-day {
    padding-right: 50px;
    display: flex;
    gap: 20px;
    grid-column: span 7;
    margin: 0 auto;
}

.shedule .list-day .item {
    display: flex;
    width: 80px;
    height: 65px;
    font-size: 1.2em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cdc197;
    color: #252422;
    padding-bottom: 4px;
    border-radius: 4px;
}

.list-cinemas {
    display: flex;
    flex-direction: column;
}

.cinema-item {
    padding: 50px 20px;
    border-bottom: 1px solid #ccc;
}

.cinema-item .name {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

.time-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.time-wrapper .room {
    font-size: 1.2em;
    font-weight: 500;
    color: #353535;
}

.time-wrapper .time {
    text-align: center;
    font-size: 1.2em;
    width: 100px;
    padding: 10px 20px;
    border: #252422 1px solid;
    border-radius: 4px;
}
