.schedule-wrapper {
    margin-top: 50px;
}

.schedule {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 2px #252422 solid;
    padding-bottom: 20px;
}

.schedule .list-day {
    width: 100%;
    display: flex !important;
    gap: 5px;
    grid-column: span 7;
    /* margin: 0 auto; */
}

.schedule .list-day .item {
    display: flex;
    width: 80px;
    height: 65px;
    font-size: 1.2em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccc4;
    /* background-color: #cdc197; */
    color: #252422;
    padding-bottom: 4px;
    border-radius: 4px;
}

.schedule .list-day button {
    font-size: larger;
    font-weight: 500;
    border: none;
    background-color: #ccc4;
    padding: 0 10px;
    border-radius: 4px;
}

.list-cinemas {
    display: flex;
    flex-direction: column;
}

.cinema-item {
    color: #252422;
    padding: 50px 20px;
    border-bottom: 1px solid #ccc;
}

.cinema-item .name {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

.list-day .item {
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.list-day .item:hover {
    background-color: #e0e0e0; /* Hiệu ứng khi hover */
    /* transform: scale(1.05); */
}

.list-day .item.active {
    background-color: #ff5733;
    color: white;
    font-weight: bold;
}

.list-null {
    padding: 50px 20px;
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.time-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.time-wrapper .room {
    font-size: 1.2em;
    font-weight: 500;
    color: #353535;
}

.time-wrapper .time {
    text-align: center;
    font-size: 1.2em;
    width: 100px;
    padding: 10px 20px;
    border: #252422 1px solid;
    border-radius: 4px;
}
